@charset "utf-8";
#body{
    height:780px;
    padding:30px 0;
    background: url("../img/login_03.jpg") no-repeat top center/100% 100%;
}
#body .bgnei{
    width:1200px;
    margin:0 auto;
    height:719px;
    border-top: 1px solid #fdf8f4;
}
#body .bgnei .denglu{
    width:310px;
    padding: 30px 35px;
    margin-top: 120px;
    background-color: #fff;
    float: right;
    position: relative;
    box-shadow: 0 0 23px rgba(0,0,0,.1);
}
#body .bgnei .denglu .dengnei{
    width:310px;
}
#body .bgnei .denglu .dengnei h4 li{
    width:50%;
    float: left;
    text-align: center;
    cursor: pointer;
    font: normal 18px/20px microsoft yahei;
    color: #666;
    margin-bottom: 35px;
}
#body .bgnei .denglu .dengnei .user-name,#body .bgnei .denglu .dengnei .user-password{
    color: red;
    font-size:14px;
    display: none;
}
#body .bgnei .denglu .dengnei h4 li:nth-child(2){
    color: #f19108;
}
#body .bgnei .denglu .dengnei p{
    width:310px;
    height:50px;
    font-size: 12px;
    border: 1px solid rgb(222, 222, 222);
    margin-bottom: 20px;
}
#body .bgnei .denglu .dengnei p input{
    width:290px;
    height:50px;
    border:none;
}
#body .bgnei .denglu .dengnei p span{
    color: #999;
}
#body .bgnei .denglu .dengnei button{
    outline: none;
    border: none;
    width:310px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #f19108;
    font-family: tahoma,arial,\5b8b\4f53,sans-serif;
    margin-bottom: 40px;
}
#body .bgnei .denglu .dengnei .hezuo{
    width:310px;
    height:90px;
    font-size: 12px;
    font-family: tahoma,arial,\5b8b\4f53,sans-serif;
}
#body .bgnei .denglu .dengnei .hezuo .hezuo1{
    margin-bottom:20px;
}
#body .bgnei .denglu .dengnei .hezuo .qe img{
    display: inline;
    margin-right: 10px;
}
#body .bgnei .denglu .dengnei .hezuo .qe .QQ{
    margin-right:20px;
}
#body .bgnei .denglu .dengnei .hezuo .qe .weixin img{
    width:20px;
    height:20px;
}
#body .bgnei .denglu .dengnei .footzhu h4,.wangji{
    color: #999;
    font-size: 12px;
    font-family: tahoma,arial,\5b8b\4f53,sans-serif;
}
#body .bgnei .denglu .dengnei .footzhu h4 a{
    color: #f19108;
}