@charset "utf-8";
body{
    background-color:#ededed;
}
.fanding{
    width:40px;
    height:35px;
    background-color:white ;
    text-align: center;
    line-height: 35px;
    position: fixed;
    bottom:100px;
    right:50px;
    cursor: pointer;
}
.fanding img{
    width:100%;
    height:100%；
}
.list-message{
    width:1200px;
    margin: 0 auto;
    color: #666;
    font-family: PingFangSC-Regular, Microsoft YaHei,tahoma,arial,Hiragino Sans GB;
    font-size: 12px;
    margin-bottom: 30px;
}
.list-message .leibie{
    margin-top: 30px;
    margin-bottom: 20px;
}
.list-message .leiname{
    width:1200px;
    box-shadow: rgb(204, 204, 204) 0px 2px 5px;
    background: #fff;
    font-family: PingFangSC-Regular, Microsoft YaHei,tahoma,arial,Hiragino Sans GB;
    font-size: 12px;
}
.list-message .leiname dl dt{
    width: 81px;
    background-color: #ededed;
    padding-left: 30px;
    line-height: 45px;
    color: #666;
}
.list-message .leiname dl .pinpai{
    height:108px;
}
.list-message .leiname dl dd{
    width: 1089px;
}
.list-message .leiname dl dd li{
    float: left;
    margin:10px 20px;
}
.shopdata{
    width:1200px;
    box-shadow: rgb(204, 204, 204) 0px 2px 5px;
    margin: 0 auto;
    background-color: white;
}
.shopdata .shopping{
    height:40px;
    width:100px;
    text-align: center;
    line-height: 40px;
    color: #e93b39;
    border-top: 2px solid #e93b39;
    border-right: 1px solid #ededed;
}
.shopdata .remai{
    height:50px;
    background-color:#ededed;
}
.shopdata .xiezi{
    padding: 30px 20px 2px;
    background: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.shopdata .xiezi li{
    width:240px;
    height:340px;
    border:1px solid #dedcdc;
    margin-bottom: 50px;
    /* float: left; */
}
.shopdata .xiezi li:hover{
    border:1px solid #f5a851;
}
.shopdata .xiezi li img{
    width:240px;
}
.shopdata .xiezi li  span{
    color: white;
    font-size: 12px;
    margin-top: 30px;
}
.shopdata .xiezi li .jingying{
    margin-top:20px;
}
.shopdata .xiezi li .jingying span:nth-child(1){
    background-color: black;
}
.shopdata .xiezi li .jingying span:nth-child(2){
    background-color: red;
}
.shopdata .xiezi li .name-shop{
    font-size: 12px;
}
.shopdata .xiezi li .pprice{
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}
.shopdata .search{
    width: 707px;
    margin:30px auto;
    height:75px;
    margin-bottom: 30px;
}
.shopdata .search .sousuokuang{
    width:636px;
    height:35px;
    border: 2px solid #463b7f;
}
.shopdata .search .sousuokuang input{
    width:634px;
    height:33px;
    outline: none;
    border: none;
}
.shopdata .search .search-btn{
    /* font-size: 12px; */
    width:60px;
    height:39px;
    color: white;
    text-align:center;
    line-height:35px;
    background-color:#463b7f;
    cursor: pointer;
}
#footer{
    margin-top: 20px;
}